.App {
  text-align: center;
}

.backdrop {
  background-image: url('https://backgrounds-free.com/highresolution/133-free-backgrounds.png');
  height:100vh;
}

.about-backdrop{
  background-image: url('./images/book-graphic.jpg');
  height: 100vh;
}

.form-backdrop{
  background-image: url('./images/form-background.jpg');
  height: 100vh;
}

.article-backdrop{
  background: linear-gradient(to bottom, #e2e2e2 0%,#e2e2e2 51%,#e2e2e2 75%);
}

.navbar-backdrop {
  background-color: #C71313;
  margin-bottom: 1px;
}

.fill {
  min-height: 100%;
  height: 100%;
  height: 100vh;
}

.extend-background {
  background-size: cover;
}

.light-header {
  margin-top: 6em;
  color: white;
}

.about {
  margin-top: 13em;
  background-color: whitesmoke;
  border: solid gray;
  border-width: 5px;
}

.xl-text {
  font-size: 4em;
}

.lg-text {
  font-size: 2.5em;
}

.md-text {
  font-size: 2em;
}

.sm-text {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.custom-textarea {
  width: 500px;
  height: 500px;
}

.custom-textinput {
  width: 400px;
}

.article-card {
  background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  border: solid 2px;
  border-color: black;
}

.comments {
  margin-top: 1em;
  border-top: dashed 1px;
  border-color: darkgray;
}

